# python>=3.8 # not needed if on SMCE
affine
attrs
bokeh
boto3
cartopy
cfgrib
dask>=2.14.0
earthpy
fiona
fsspec>=0.8.4
GDAL>=3.4.2
geopandas
geoviews
h5py
holoviews
hvplot
intake-xarray>=0.6.0
intake>=0.6.5
intake-stac>=0.3.0
jupyterlab
matplotlib
notebook
numcodecs
numpy>=1.18
packaging>=20.0
pandas>=1.1
pathlib2==2.3.6
pooch
proj
pyparsing
pyproj
pystac-client
pystac>=1.2.0
python-dateutil
rasterio
rioxarray
s3fs
sat-stac
shapely
xarray[complete]
zarr>=2.4.0
