# If issues appear when trying to load zarr, cfgrib, try 'pip install xarray[complete]'
python>=3.8 # pin version for conda
proj
pyproj
pystac-client
hvplot
geoviews
geopandas
fiona
cartopy
rioxarray
s3fs
fsspec
pooch
xarray
shapely
earthpy
zarr
shapely
pandas
h5py
matplotlib
numpy
rasterio
holoviews
pathlib
GDAL
boto3
affine==2.3.1
asciitree==0.3.3
attrs==21.4.0
certifi==2021.10.8
click==8.1.2
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.0.0
dask==2022.4.0
fasteners==0.17.3
geopandas==0.10.2
locket==0.2.1
munch==2.5.0
numcodecs==0.9.1
packaging==21.3
partd==1.2.0
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
six==1.16.0
snuggs==1.4.7
toolz==0.11.2
wget==3.2
